<div class="row">
    <div class="col-xs-12">
        <h1>{{guitar.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="{{guitar.imagePath}}" alt="{{guitar.name}}" class="img-responsive" style="max-height: 300px;" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{routeUrl}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <li><a style="cursor: pointer;" (click)="onEditGuitar()">Edit Guitar</a></li>
    </div>
</div>