<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">


        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Interests</a>
        <ul class="navbar-nav mr-auto">
            <ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#" routerLinkActive="active">blah</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#" routerLinkActive="active">blah</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#" routerLinkActive="active">more blah</a>
                </li>
            </ng-container>
        </ul>

        <div class="dropdown" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Logout</a>
            </div>
        </div>
    </div>
</nav>